@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  background-color: #1f2937;
  font-family: Roboto, sans-serif;
}

.right-links {
  display: flex;
  justify-content: space-between;
}

.quote {
  background-color: #e5e7eb;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    color: #1f2937;
}

.quote-who {
    text-align: right;
    font-weight: bold;
}

ul {
    display: flex;
    list-style: none;
}