@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  font-family: Roboto, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #1f2937;
  color: #f9faf8;
}

.overview {
  background-color: #1f2937;
  display: flex;
}

.right-links {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
}


.quote {
  background-color: #e5e7eb;
}

.quote-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    color: #1f2937;

  
}

.quote-who {
    text-align: right;
    font-weight: bold;
}

ul {
    display: flex;
    list-style: none;
}